<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permisos Bluetooth para Android 11 o menor -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Permiso Bluetooth moderno para Android 12 o superior -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Permisos y características de la Cámara -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AprendeLS">

        <activity
            android:name=".AlphabetActivity"
            android:exported="false" />

        <activity
            android:name=".MotionPracticeActivity"
            android:exported="false" />

        <activity
            android:name=".PracticeSignActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".JReferenceEditorActivity" android:exported="false" />
        <activity android:name=".JPracticeActivity" android:exported="false" />
    </application>

</manifest>